html{
	body{
		display:flex;
		flex-direction: column;
		justify-content: center;
		margin: 0px auto;
		min-width: 360px;
		max-width: 720px;
		header{
			display: flex;
			flex-direction: row;
			padding-right: 5px;
			.cface {
				background: url('../img/Face.png');
				background-position: -90px -33px;
				background-size: 187%;
				width: 150px;
				min-width: 150px;
				height: 150px;
				border-radius: 100px 100px 100px 100px;
				-webkit-border-radius: 100px 100px 100px 100px;
				-moz-border-radius: 100px 100px 100px 100px;
				z-index: 1;
			}
			.cname{
				font-family: Tahoma;
				font-size: 21.5px;
				font-style: normal;
				font-variant: normal;
				font-weight: 550;
				padding-left: 10px;
			}
			.cstatus {
				font-family: "Arial";
				font-size: 18px;
				font-style: normal;
				font-variant: normal;
				font-weight: 550;
				color: rgba(51,51,51,255);
				background-color: #fffbc7;
				border-style: solid;
				border-width: 1px;
				border-color: #cecabf;
				border-radius: 4px;
				-webkit-border-radius: 4px;;
				-moz-border-radius: 4px;;
				padding: 7px 20px 7px 50px;
				margin-left: -40px;
			}
			.cjobstate{
				font-family: Tahoma;
				font-size: 17px;
				padding: 3px 0px 8px 12px;
				font-style: normal;
				font-variant: normal;
				color: rgba(128,128,128,255);
			}
		}
		.crate{
			display:flex;
			flex-direction:column;
			text-align: center;
			.cols{
				display: block;
				padding: 0% 6%;
			}
			.serv{
				width: 71%;
				border-bottom: solid #cecabf;;
				border-width: 0.5px;
				font-family: "Arial";
				font-size: 18px;
				margin:0px 16% 20px 26%;
				padding: 0% 0% 6px 55%;
				padding-right: 5.8%;
				text-align: right;
			}
			.cscore{
				display: flex;
				flex-direction: row;
				text-align:right;
				width: 70%;
				margin:0px 14% 0px 26%;
				#cgistogram{
					width: 79.7%;
					text-align: left;
					border-left: solid #cecabf;;
					border-width: 1px;
				}
				.numericscore{
					display:flex;
					flex-direction: column;
					font-family: "Arial";
					font-weight: bold;
					font-size: 17px;
					padding: 0% 5%;
					text-align: center;
					span{
						margin: 5px 0px 2px 0px;
					}
				}
			}
			.atall{
				display:flex;
				flex-direction: row;
				justify-content: space-between;
				width: 71%;;
				border-top: solid #cecabf;;
				border-width: 0.5px;
				font-family: "Arial";
				font-size: 20px;
				margin:20px 16% 0px 26%;
				padding: 15px 5% 15px 0%;
				text-align: right;
				font-weight: 550;
			}
		}
		.crate{
			text-align: center;
		}
		.buttonbar {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0px 20px 0px 20px;
			min-width: 360px;
			max-width: 720px;
			.totalcom{
				font-family: "Arial";
				font-size: 20px;
				font-weight: bold;
				a{
					font-family: "Tahoma";
					font-weight: normal;
					font-size: 18px;
					text-decoration: underline;
					margin-left: 6px;
				}
			}
			.twit {
				display:flex;
				flex-direction: row;
				#clouds{
					transform: scale(-1,0.87);
				}
				a{
					margin: 8px 5px 8px 25px;;
					text-decoration: none;
					color: #6fadce;
					transform: scale(-1,1);
					:hover {
	  				color: #154088;
					}
					:visited{
						color: #497DDD;
					}

				}
				div{
					padding: 3px 0px 0px 0px;
					font-family: "Arial Narrow";
					font-size: 16px;
				}
			}
		}
		main{
			display: flex;
			flex-direction: column;
			padding:10px 0px;
			.comment{
				display: flex;
				flex-direction: column;
				.user{
					z-index: 0;
					.uname{
						margin: 0px 10px 0px 20px;
						font-family: 'Arial';
						font-size: 18px;
						font-weight: bold;
					}
					.udate{
						font-family: Tahoma;
						font-size: 14px;
						font-style: normal;
						font-variant: normal;
						color: rgba(128,128,128,255);
					}
				}
				.angler{
					width:0px;
					box-shadow: none !important;
					z-index: 1;
					margin: 0px 25px -11px 50px;
					background-color: transparent;
					box-shadow: 0px 0px;
					.shadow{
						width: 0px;
						height: 0px;
						background-color: transparent;
						border-top: 11px solid transparent;
						border-left: 12px solid #cecabf;
						z-index: 1;
						box-shadow: none !important;
					}
					.front{
						width: 0px;
						height: 0px;
						margin: -9px 0px 0px 1px;
						background-color: transparent;
						border-top: 9px solid transparent;
						border-left: 9px solid #f1fbff;
						z-index: 2;
						box-shadow: none !important;
					}
				}
				.said{
					z-index: 0;
					background-color: #f1fbff;
					border: solid #cecabf 1px;
					margin: 10px 20px;
					padding: 14px;
					font-family: 'Arial';
					font-size: 18px;
					font-weight: 500;
					border-radius: 3px 3px 3px 3px;
					-webkit-border-radius: 3px 3px 3px 3px;
					-moz-border-radius: 3px 3px 3px 3px;
				}
			}
		}
		footer{
			background-color: #f2f2f2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 6px 0px 0px 0px;
			padding: 20px;
			textarea{
				margin-top: 15px;
			}
			button{
				font-family:  'PT Sans', sans-serif;
				color: #000000;
				font-size: 18px;
				font-weight: bold;
				margin: 25px auto;
				padding: 5px;
				border-radius: 110px 110px 110px 110px;
				-webkit-border-radius:  110px 110px 110px 110px;
				-moz-border-radius:  110px 110px 110px 110px;
				width: 70%;
				height: 50px;
				border: none;
				background-color: #fcd539;
			}
		}
	}
}
	//Привет, Верунь! ниче себе ты крутая. фотка класс!!!
	//Вероника, здравствуйте! Есть такой вопрос: Особый вид куниц жизненно стабилизирует кинетический момент, это и есть всемирно известный центр огранки алмазов и торговли бриллиантами?
